* {
    margin: 0;
    padding: 0;
}

.btn-primary {
    background-color: rgb(16, 204, 16) !important;
    color: white !important;
}

.btn-primary:hover {
    background-color: green !important;
}